.hero{
    
    background: fixed;
    background-image: url("https://res.cloudinary.com/dbwomkmnq/image/upload/v1695914263/WarHouse%20Frenchies/razas-perros-bulldog-frances-lunares-blancos-negros-sobre-marmol_1_eqvslk.jpg");    
    background-size: cover;
    background-repeat: no-repeat;
    
}

/* @media (max-height: 420px) {
    .hero {
      min-height: 235vh;
  }
} */
/* @media (max-height: 770px) {
    .hero {
      min-height: 140vh;
  }
}  */



@media (min-width: 1440px) {
  #waveslg{
    display: none;
  }
  #wavesxl{
    display: block;
  }
  #herocontainer{
    height: 120vh;
  }
}

.slider{
    background-image: url('https://www.thesprucepets.com/thmb/ryT9l4hrL00eC9i7D56o9kXl_D0=/1500x0/filters:no_upscale():strip_icc()/french-bulldog-breed-profile-1117966-hero-4f2e84633a854d4c8edf6e1f588aaa64.jpeg');
    background-size: cover;
}